<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faster - Create quick notes with just a click</title>
    <link rel="stylesheet" href="/public/assets/styles/styles.css">
    <link rel="stylesheet" href="/public/assets/styles/home.css">
</head>
<body>
    <nav class="nav">
        <span class="logo">W</span>
    </nav>
    <main class="container">
        <section class="main">
            <h1 class="title main__title">Create quick notes with Faster</h1>
            <h2 class="subtitle main__subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, enim. Voluptatum amet voluptate accusantium animi.</h2>
            <button class="btn main__btn"><a href="#">Create a note</a></button>
        </section>
    </main>

    <script src="/public/assets/scripts/scripts.js"></script>
    <script src="/public/assets/scripts/home.js"></script>
</body>
</html>