<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faster - Sign Up</title>
    <link rel="stylesheet" href="/public/assets/styles/styles.css">
    <link rel="stylesheet" href="/public/assets/styles/form.css">
</head>

<body>
    
    

</body>

</html>
